
<h1> <%= @player.username.upcase %>'S PUZZLES </h1>

<style>.column {
  float: left;
  width: 33.33%;
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}   </style>
<div class="row">
  <div class="column"><h3>STATS</h3>
  <p></p>
  <p></p>
 
   <%= @player.games.count %> Puzzle(s) Interactions</p>
  
  </div>
  <div class="column"><h3><%= @player.username.upcase %>'s Progress</h3>
<p>
    <% @player.games.each do |g| %>
    <%   if Puzzle.find_by_id(g.puzzle_id) == nil %>
  <ul>
      <li><%= "~ this puzzle was deleted :( ~" %></li><br>
      <% elsif g.solved? == true && g.puzzle_id != nil && Puzzle.find_by_id(g.puzzle_id) != nil %>
    <li>solved - <%= Puzzle.find_by_id(g.puzzle_id).title %> - 
    <a href="/puzzles/<%= g.puzzle_id %>"><button> Puzzle Page </button></a><br></br> </li>
    <%   elsif g.solved? == false %>
    <li>in progress - <%= Puzzle.find_by_id(g.puzzle_id).title %> - 
    <a href="/puzzles/<%= g.puzzle_id %>"><button> Puzzle Page </button></a><br></br></li>
  </ul>
    <% else %>
        <p> "No puzzles currently attempted."</p>
      <% end%>
    <%  end   %>
</div>
  
  <div class="column"><h3><%= @player.username.upcase %>'S Submissions</h3>

<% Puzzle.all.each do |z| %>
      <% if z.created_by == @player.username %>
      <p><a href="/puzzles/<%= z.id %>"><strong><%= z.title %></strong></a></p>
      <% end %>
<% end %>
</div>
</div>

