
<h2> CONGRATS! IT'S A PUZZLE! </h2>
<h4> <%= @current_player.username.upcase %>, IT'S ALIVE! <br>
Below is the info on your new puzzle.<br>
Others will be able to see this puzzle, download it and solve it!<br>
So, make sure the information below is correct. 
<p> </h2>
<h3>
<!-- @current_player.games.last.puzzle_id -->
Puzzle Title: <%= Puzzle.last.title %><br>
Puzzle Description: <%= Puzzle.last.description %><br>
Puzzle Category: <%= Puzzle.last.category %><br>
Puzzle Solution: <%= Puzzle.last.solution %><br>
</h3>

BUTTONS:  <p>
<a href="/players/gameroom"><button>CONFIRM</button></a> <p> 
<a href="/puzzles/edit"><button>OOPS! LET ME EDIT!</button></a> <p>
<a href="/puzzles/new"><button>CREATE ANOTHER PUZZLE</button></a>