
FORM to EDIT PUZZLES:

<form action="/puzzles/<%= @puzzle.id %>" method="POST">
    <input type="hidden" name="_method" value="patch">
    <p> Title: <input type="text" name="title" value="<%= @puzzle.title %>"></p>
    <p> Description: <textarea name="description"><%= @puzzle.description %></textarea></p>
    <p> Category: <input type="text" name="category" value="<%= @puzzle.category %>"></p>
    <p> Solution: <input type="text" name="solution" value="<%= @puzzle.solution %>"></p>
    <input type="submit" value="Edit Puzzle">
</form>