
<h2> CONGRATS! IT'S A PUZZLE! </h2>
<h4> <%= @current_player.username.upcase %>, below is the info on your new puzzle.<br>
Others will be able to download and solve this puzzle, so make sure the information below is correct. 
<p> </h2>
<% if flash[:error] %>
<h1><%= flash[:error] %></h1>
<% end %>
<h3>
<!-- @current_player.games.last.puzzle_id -->
Puzzle Title: <%= Puzzle.last.title %><br>
Puzzle Description: <%= Puzzle.last.description %><br>
Puzzle Category: <%= Puzzle.last.category %><br>
Puzzle Solution: <%= Puzzle.last.solution %><br>
</h3>
 <p>
<!-- a href="/players/<% @current_player.id %>/edit"><button>Edit this Puzzle</button></a> -->

<form action="/puzzles/<%= @puzzle.id %>/edit" method="GET">
    <input type="submit" value="Edit This Puzzle"></form><p>

<form action="/puzzles/<% @puzzle.id %>" method="POST">
    <input type="hidden" name="_method" value="delete">
    <input type="submit" value="Delete This Puzzle"></form><p>

<a href="/puzzles/new"><button>submit another Puzzle</button></a><p>

<a href="/players/index/:id"><button>to the Gameroom</button></a> <p> 
