
<h2> IT'S A PUZZLE! </h2>
<h4> Below is the info on the puzzle : "<strong><%= @puzzle.title %></strong>".<br>
</h4> [Others will be able view this description, so make sure the information below is correct.]
<p> 
<% if flash[:error] %>
<h2><strong><em><%= flash[:error] %></em><strong></h2>
<% end %>
<h3>
Puzzle Title: <strong><%= @puzzle.title %><br></strong>
Puzzle Description / Link: <strong><%= @puzzle.description %></strong><br>
Puzzle Category: <strong><%= @puzzle.category %></strong><br>
Puzzle Solution: <% if current_player.username == @puzzle.created_by %>
                        "<%= @puzzle.solution %>"<br>
                 <% elsif current_player.games.select do |g| %>
                        <% if g.puzzle_id == @puzzle.id && g.solved? == true %>
                            "<%= @puzzle.solution %>"<br>
                        <% end %>
                    <% end %>
                <% else %>
                                <% end %>
</h3>
<h5>(you can see the solution if you created this puzzle or have already solved it)
 </h5><p>
<form action="/puzzles/<%= @puzzle.id %>/edit" method="GET">
    <input type="submit" value="Edit This Puzzle"></form><p>

<form action="/puzzles/<%= @puzzle.id %>" method="POST">
    <input type="hidden" name="_method" value="delete">
    <input type="submit" value="Delete This Puzzle"></form><p>

<form action="/puzzles/<%= @puzzle.id %>/add" method="POST">
    <input type="submit" value="Play This Puzzle"></form><p>
<br>
Post ‘add’
params[puzzle_id]
Use session[user_id]
Create a new Game instance
Then redirect the gameroom
To account
Could also add error handling if Game already created

Add a solve puzzle button
Post ‘/puzzles/:id/solve’
Send params[game_id]
And update solved to ‘true’
The redirect back to account
