
<h2> CONGRATS! IT'S A PUZZLE! </h2>
<h4> <%= @current_player.username.upcase %>, below is the info on your new puzzle.<br>
Others will be able to download and solve this puzzle, so make sure the information below is correct. 
<p> </h2>
<% if flash[:error] %>
<h1><%= flash[:error] %></h1>
<% end %>
<h3>

Puzzle Title: <%= @puzzle.title %><br>
Puzzle Description: <%= @puzzle.description %><br>
Puzzle Category: <%= @puzzle.category %><br>
Puzzle Solution: <% if current_player.username == @puzzle.created_by %>
                        "<%= @puzzle.solution %>"<br>
                 <% elsif current_player.games.select do |g| %>
                        <% g.puzzle_id == @puzzle.id && g.solved? == true %>
                            "<%= @puzzle.solution %>"<br>
                    
                    <% end %>
                <% else %>
                    <%= "Nuh-uh-uh, I can't just GIVE you the answer!" %>
                <% end %>
</h3>
 <p>
<!-- a href="/players/<% @current_player.id %>/edit"><button>Edit this Puzzle</button></a> -->

<form action="/puzzles/<%= @puzzle.id %>/edit" method="GET">
    <input type="submit" value="Edit This Puzzle"></form><p>
<form action="/puzzles/<% @puzzle.id %>" method="POST">
    <input type="hidden" name="_method" value="delete">
    <input type="submit" value="Delete This Puzzle"></form><p>
<br>
<a href="/puzzles/new"><button>Submit Another Puzzle</button></a><p>

<a href="/players/gameroom/<%= @current_player.id %>"><button>To The Gameroom</button></a> <p> 
