
<h2> IT'S A PUZZLE! </h2>
<h4> Below is the info on the puzzle : "<%= @puzzle.title %>"".<br>
Others will be able to download and solve this puzzle, so make sure the information below is correct. 
<p> </h2>
<% if flash[:error] %>
<h3><%= flash[:error] %></h3>
<% end %>
<h3>

Puzzle Title: <strong><%= @puzzle.title %><br></strong>
Puzzle Description: <strong><%= @puzzle.description %></strong><br>
Puzzle Category: <strong><%= @puzzle.category %></strong><br>
Puzzle Solution: <% if current_player.username == @puzzle.created_by %>
                        "<%= @puzzle.solution %>"<br>
                 <% elsif current_player.games.select do |g| %>
                        <% if g.puzzle_id == @puzzle.id && g.solved? == true %>
                            "<%= @puzzle.solution %>"<br>
                        <% end %>
                    <% end %>
                <% else %>
                                <% end %>
(you can see the solution if you created this puzzle or have already solved it)
</h3>
 <p>
<form action="/puzzles/<%= @puzzle.id %>/edit" method="GET">
    <input type="submit" value="Edit This Puzzle"></form><p>

<form action="/puzzles/<%= @puzzle.id %>" method="POST">
    <input type="hidden" name="_method" value="delete">
    <input type="submit" value="Delete This Puzzle"></form><p>
<br>
<a href="/puzzles/new"><button>Submit Another Puzzle</button></a><p>

<a href="/players/gameroom/<%= @current_player.id %>"><button>To The Gameroom</button></a> <p> 
